@import "tailwindcss";

@theme {
  --color-primary-bg: #d7ddfb;
  --color-secondary-bg: #babdff;
  --color-blur: #babdffa4;
  --color-primary: rgba(92, 58, 152, 0.702);
  --color-secondary: #5c3a9880;
  --color-note-3: #fbd7e4;
  --color-note-2: #e8d7fb;
  --color-note-1: #d7ddfb;
  --color-note-0: #d7ddfba0;
}
@layer utilities {
  .bg-note-0 {
    background-color: var(--color-note-0);
  }
  .bg-note-1 {
    background-color: var(--color-note-1);
  }
  .bg-note-2 {
    background-color: var(--color-note-2);
  }
  .bg-note-3 {
    background-color: var(--color-note-3);
  }
}

:root {
  @apply bg-primary-bg flex flex-col items-center text-zinc-700 w-full min-h-full;
}

.modal {
  @apply absolute top-10 left-1/2 z-20 border border-black -translate-x-1/2 p-2 rounded-md bg-primary-bg w-xs sm:w-lg md:w-xl min-h-2/3;
  box-shadow: 0px 0px 20px #000;
}
.timer {
  @apply fixed bottom-10 left-1/2 -translate-x-1/2 w-11/12 sm:w-8/12 md:w-5/12 p-3 rounded-2xl bg-secondary-bg cursor-pointer;
}

.input {
  @apply w-full h-full px-1 focus:outline-2 focus:outline-primary rounded-sm;
}

.close-cross {
  cursor: pointer;
}
.close-cross::before,
.close-cross::after {
  /* @apply bg-primary; */
  background-color: #5c3a98;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
}
.close-cross::before {
  transform: rotate(45deg);
}
.close-cross::after {
  transform: rotate(-45deg);
}

@media (hover: hover) {
  .close-cross:hover::before,
  .close-cross:hover::after {
    box-shadow: 0px 0px 2px #5c3a98;
  }
  .hover-note {
    /* @apply hover:border-primary hover:transform-flat hover:scale-[1.01]; */
  }
}
